.container {
  margin: 0 auto;
  justify-content: center;
  max-width: 1400px;
  text-align: center;
}
.weather_title {
  display:flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
  font-size: 40px;
  font-weight: 700;
}
.link {
  font-size: 30px;
  color: black;
  background-color: coral;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}
.link:hover {
  color: black;
  transition: 0.3s;
}
